body {
    font-family: VT323;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: grid;
    text-align: center;
    justify-content: center;
    background-color: rgb(29, 28, 39);
    width: auto;
    padding: 20px 30px;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 0px 6px 30px rgb(80, 80, 80);
}

.jour {
    font-size: 36px;
    color: white;
}

.heure {
    font-size: 50px;
    color: orange;
}

.date {
    font-size: 27px;
    color: white;
    margin-top: 10px;
}